h2{grid-area:h2}
h3{
    grid-area:h3;
    opacity: 0.5;
}
img{
    grid-area:image;
    min-height: 13rem;
    min-width: 13rem;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}
button{
    grid-area:button;
    font-size:2rem;
}
h2,h3,img,button{
    overflow: hidden;
}

.card-container{
    display:grid;
    grid-template-columns: 20rem 20rem 20rem;
    row-gap: 14px;
    column-gap: 12px;
    justify-content: center;
} 
.card{
    width:17rem;
    height:25rem;
    background-color: #726e6e30;
    border: 1px solid #505050;
    border-radius: 10px;
    overflow: hidden;
    font-size: 0.6rem;
    display:grid;
    padding: 0.8rem;
    grid-template-areas:
    'image image '
    'h3 h3 '
    'h2 h2 '
    'button button  ';
}
.card:hover{
    border: 1px solid #ff6600c9;
}
.player-container{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 100%;    
}

.search-container{
    margin: 20px 0;
    width: 100wh;
}
input{
    padding-left: 10px;
    border-radius: 50px;
    height: 2.5rem;
    box-sizing: unset;
    border: 2px solid #3b3b3b;
}

.select-song-button{
    border-radius: 50px;
}

.select-song-button:hover{
    border-color: #c3bfbf;
}
.search-button{
    width: 30px;
    height: 40px;
    border-radius: 50px;
    margin-left: 20px;
    position: relative;
    top: 5px;
    background-image: url("../assets/search-icon-white.png");
    background-size: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    color: white;
    border: 1px solid #a1a1a133;
}
.search-button:hover{
    border: 1px solid #fffffffb;
}

@media only screen and (max-width: 1200px) {
    .card-container{
        grid-template-columns: 20rem 20rem 20rem ;
    }
    .player-container{
        top:25%;

    }
    
  }
  @media only screen and (max-width: 950px) {
    .card-container{
        grid-template-columns: 15rem 15rem 15rem;
    }
    .player-container{
        top:50%;
    }
  }