h2{grid-area:h2}
h3{
    grid-area:h3;
    opacity: 0.5;
}
img{
    grid-area:image;
    height: 80px;
    width: 80px;
    border-radius: 6px;
}
button{
    grid-area:button;
    font-size:2rem;
}
h2,h3,img,button{
    overflow: hidden;
}
.card{
    width:15rem;
    height:10rem;
    background-color: #3b3b3b;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    overflow: hidden;
    font-size: 0.6rem;
    display:grid;
    padding: 0.8rem;
    grid-template-areas:
    'image h2 h2'
    'image h3 h3'
    'button button button ';
}
.card-container{
    display:grid;
    grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
    row-gap: 14px;
    column-gap: 12px;
    justify-content: center;
} 
.player-container{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 100%;    
}

.search-container{
    margin: 20px 0;
    width: 100wh;
}
input{
    padding-left: 10px;
    border-radius: 50px;
}

.select-song-button{
    border-radius: 50px;
}

.search-button{
    width: 30px;
    height: 40px;
    border-radius: 50px;
    margin-left: 20px;
    position: relative;
    top: 5px;
    background-image: url("../assets/search-icon.png");
    background-size: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 2px solid #3b3b3b;
}

@media only screen and (max-width: 1200px) {
    .card-container{
        grid-template-columns: 15rem 15rem 15rem 15rem;
    }
    .player-container{
        top:25%;

    }
    
  }
  @media only screen and (max-width: 950px) {
    .card-container{
        grid-template-columns: 15rem 15rem 15rem;
    }
    .player-container{
        top:50%;
    }
  }